.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--grey-three);
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px var(--dark-blue) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #4f4a88 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
