.banner {
  position: relative;
  background-color: var(--dark-blue);
  padding-bottom: 118px;
  color: var(--white);

  .link {
    width: 206px;
    padding: 22px;
    transform: rotate(0);
  }

  .background {
    position: absolute;
    color: var(--white);
    opacity: 0.12;
    font-weight: 700;
    font-size: 200px;
    top: 35%;
    left: 50%;
    transform: translate(-50%);

    @media (max-width: 1100px) {
      flex-wrap: wrap;
      font-size: 150px;
    }

    @media (max-width: 880px) {
      flex-wrap: wrap;
      font-size: 80px;
    }

    @media (max-width: 450px) {
      flex-wrap: wrap;
      font-size: 50px;
    }
  }

  .title {
    padding-top: 115px;
    border-top: 2px solid var(--white);
    font-size: 36px;
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0.4px;

    @media (max-width: 880px) {
      font-size: 28px;
    }

    @media (max-width: 450px) {
      font-size: 20px;
    }
  }

  .description {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 30px;

    @media (max-width: 880px) {
      font-size: 12px;
    }

    @media (max-width: 450px) {
      flex-wrap: wrap;
      font-size: 10px;
    }
  }

  button {
    padding: 20px 50px;
  }
}

.catalog {
  padding-top: 47px;

  .block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  input {
    min-width: 100%;
    margin-top: 50px;
  }

  .list {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px 35px;

    @media (max-width: 880px) {
      padding: 0 20px;

      li {
        margin-top: 20px;
      }
    }
  }

  .button {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
  }
}

.faq {
  margin-top: 45px;
  background-color: var(--dark-blue);
  padding-top: 70px;
  padding-bottom: 65px;
  color: var(--white);
  display: flex;
  justify-content: center;

  .list {
    display: block;
    width: 880px;
    margin-top: 30px;

    @media (max-width: 1100px) {
      width: 780px;
    }

    @media (max-width: 880px) {
      width: 380px;
    }

    @media (max-width: 450px) {
      width: 220px;
    }
  }
}
