.footer {
  padding: 30px 0;
  background-color: var(--dark-grey);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 45px;

  .logo {
    margin-right: auto;
  }

  .link {
    color: var(--white);

    &:hover {
      color: var(--grey);
      text-decoration: underline;
    }
  }
}
