:root {
  --dark-blue: #484283;
  --dark-grey: #444b58;
  --grey: #c4c4c4;
  --grey-two: #d5d5d5;
  --grey-three: #646464;
  --light-grey: #f6f6f6;
  --super-light-grey: #b2b5bb;
  --white: #ffffff;
  --red: #f14f4f;
  --dark-red: #8c2828;
  --pink: #f8afaf;
  --desctop: 1440px;
  --medium: 880px;
  --mobile: 320px;
}
